<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Thanks for downloading</h1>
    <p>
      Unfortunately, this is as far as you can go. Updates are being pushed to
      github as often as I can.
    </p>
  </body>
</html>
