<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
       <img src="/img/logo.jpeg"/>
        <span class="fs-4">Propagation station</span>
        </a>
      </header>

      <main>
        <h1>Thanks for downloading</h1>
        <p class="fs-5 col-md-8">
          Unfortunately, this is as far as you can go. Updates are being pushed
          to github as often as I can.
        </p>

        <div class="mb-5">
          <a href="/docs/5.2/examples/" class="btn btn-primary btn-lg px-4"
            >Download examples</a
          >
        </div>

        <hr class="col-3 col-md-2 mb-5" />

        <div class="row g-5">
          <div class="col-md-6">
            <h2>What's next?</h2>
            <p>
              Welp.. guess you will have to check back often to find out :)
            </ul>
          </div>
        </div>
      </main>
      <footer class="pt-5 my-5 text-muted border-top">
        Created by Ben Lantaff 2022
      </footer>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
